* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.container {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;

}

.bttn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 4vw;
}

.hover-box {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  border: 2px solid rgb(9, 45, 130);
}

.box {
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  margin-top: 0px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.content p {
  color: darkgray;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

.box:nth-child(1) {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(9, 45, 130);
}

.box:nth-child(2) {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgb(9, 45, 130);
}

.box:nth-child(3) {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(9, 45, 130);
}

.bttn:hover .hover-box {
  transform: translateY(-10px);
  box-shadow: 0px 10px 10px rgb(9, 45, 130);
}

.bttn:hover .box h2 {
  color: whitesmoke;
  text-shadow: 0px 3px 10px rgb(9, 45, 130);
}

.bttn:hover .box p {
  /* color: blueviolet; */
  /* text-shadow: 0px 3px 10px rgb(9, 45, 130); */
}

.bttn:focus {
  outline: none;
}

.bttn:active {
  box-shadow: 0px 5px 10px rgb(9, 45, 130);
}

.bttn:focus .box,
.bttn:active .box {
  transform: translateY(0px);
  box-shadow: 0px 0px 10px rgb(9, 45, 130);
}

.bttn:focus .box,
.bttn:active .box {
  background: #103ceb;
}

.bttn:focus .box h2,
.bttn:active .box h2 {
  color: #ffffff;
}
h1{
  margin-top:5vh;
}
#img{
  height: 40px;
  width: 40px;
}