@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: o;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  background-position: center;
  background-size: cover;
}

.Task {
  /* width: 100%;
    min-height: 100vh; */
  background: rgba(249, 246, 246, 0);
  color: #f6ab48;
}
nav {
  background: #00306e;
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dot {
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-top:1vw;
  margin-right:1vw;
}
ul {
  width: 100%;
  text-align: right;
  /* margin-left: -69px; */
}
li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  font-size: 20px;
}
.heading {
  width: 100%;
  text-align: left;
}
.head {
  display: inline-block;
  list-style: none;

  font-size: 30px;
}
a {
  color: rgb(251, 250, 251);
  text-decoration: none;
}
.sub-menu-wrap {
  position: absolute;
  top: 104%;
  right: 10px;
  width: 310px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: rgb(9, 45, 130);
  backdrop-filter: blur(50px);
  padding: 15px;
  margin: 5px;
}
.user-info {
  display: flex;
  align-items: center;
}
.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* color: rgb(255, 252, 252); */
  margin: 12px 0;
}
.menu-link p {
  width: 100%;
  font-size: 18px;
  transition: font-size 0.5s;
  /* color: rgb(251, 251, 251); */
}
.menu-link img {
  width: 40px;
  background: rgba(0, 0, 0, 0.041);
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.menu-link span {
  font-size: 20px;
  transition: transform 0.5s;
}
.menu-link:hover span {
  transform: translateX(5px);
}
.menu-link:hover p {
  font-size: 22px;
}
p {
  font-size: 16px;
  /* color: rgb(255, 255, 255); */
}
